<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Engineering College Admission System</display-name>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <!-- ==================== SERVLETS ==================== -->

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.admission.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.admission.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.admission.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.admission.servlet.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApplicationServlet</servlet-name>
        <servlet-class>com.admission.servlet.ApplicationServlet</servlet-class>
        <multipart-config>
            <max-file-size>5242880</max-file-size>
            <max-request-size>20971520</max-request-size>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet</servlet-name>
        <url-pattern>/ApplicationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProgramServlet</servlet-name>
        <servlet-class>com.admission.servlet.ProgramServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProgramServlet</servlet-name>
        <url-pattern>/ProgramServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FeeServlet</servlet-name>
        <servlet-class>com.admission.servlet.FeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeeServlet</servlet-name>
        <url-pattern>/FeeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentPaymentServlet</servlet-name>
        <servlet-class>com.admission.servlet.StudentPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentPaymentServlet</servlet-name>
        <url-pattern>/StudentPaymentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EnrollmentServlet</servlet-name>
        <servlet-class>com.admission.servlet.EnrollmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnrollmentServlet</servlet-name>
        <url-pattern>/EnrollmentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DocumentServlet</servlet-name>
        <servlet-class>com.admission.servlet.DocumentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocumentServlet</servlet-name>
        <url-pattern>/DocumentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>com.admission.servlet.NotificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/NotificationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.admission.servlet.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>

    <!-- ==================== FILTER ==================== -->

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.admission.filter.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/student/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/ApplicationServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/ProgramServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/FeeServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/StudentPaymentServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/EnrollmentServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/DocumentServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/NotificationServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/StudentServlet</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>